/* mikeNauman */

html { 
  height: 100% 
}

body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  font-family: Orbitron, Arial, sans-serif;

}

h1, h2, h3, h4 {
  display: inline-block;
  margin-left: 40px;
  text-align: left;
}

h1{
	margin-top: 26px;
}

h2 {
  display: inline-block;
  text-align: left;
}

h3 {
  color: white;
}

form {
  display: inline-block;
}

p {
  margin: 20px;
}


.latText {
  display: inline-block;  
}

.longText {
  display: inline-block;
}

.abs {
	position: absolute;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}

.alignMiddle {
	text-align: middle;
}

.center {
	width: 90%;
}

.inlineElem {
  display: inline-block;
}

.header {
  margin: 20px;
  height: 75px;
  width: 95%;
  background: gray;
  border-radius: 5px;
}

.title {
  display: inline-block;
  height: 30px;
  width: 50;
}

.rowBody {
  margin: 20px;
  height: 600px;
  width: 95%;
  background: gray;
  border-radius: 5px;
}

.content1 {
  display: inline-block;
  background-color: white;
  height: 150px;
  width: 400px;
  z-index: 50;
  margin: 20px;
  border: 5px black solid;
  border-radius: 15px;
}

.mapControls {
  display: inline-block;
  background-color: white;
  width: 50%;

}

.contentText {
  padding: 20px;
}

.footer {
  margin: 20px;
  height: 60px;
  width: 95%;
  background: gray;
  border-radius: 5px;
}

.footerContent {
  display: inline-block;
  margin-top: 25px;
  margin-left: 25px;
}

.myButton {
  display: inline-block;
  height: 15px;
  width: 30px;
  background-color: yellow;
  z-index: 100;
  margin-top: 30px;
  margin-right: 5px;
  border-bottom: black;
  border-right: black;
  border-width: 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.last {
  margin-right: 15px;
}

#rad1 {
  margin-left: 25px;
  margin-bottom: 20px;
  text-align: middle;
}

#getCity {
	margin-left: 15px;
	text-align: middle;
}

#map-canvas {
  margin-top: 20px;
  margin-left: 20px;
  border: black 4px solid;
  height: 550px;
  width: 600px;
  border-radius: 15px;
}